.planetarium-mask {
    padding: 3rem;
    // border: 1px solid yellow;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        user-select: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .location-data {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 0 2rem;
    }


    canvas {
        position: absolute;
        top: 0;
        left: 0;

        z-index: -9;
    }
}